<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
  <h1>Domain Rules</h1>
  <table class="table table-striped w-auto">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Domain</th>
        <th scope="col">Is Blocked</th>
        <th scope="col">Create Time</th>
        <th scope="col">Modify Time</th>
      </tr>
    </thead>
    <tbody>
      {% for domain in domain_data %}
      <tr>
        
        <th scope="row">{{ domain_data[0] }}</th>
        <td>{{ domain_data[1] }}</td>
        <td>{{ domain_data[2] }}</td>
        <td>{{ domain_data[3] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
</body>

</html>